// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Home row mods macro
#define HRML(k1,k2,k3,k4) &ht LSHFT k1  &ht LALT k2  &ht LCTRL k3  &ht LGUI k4
#define HRMR(k1,k2,k3,k4) &ht RGUI k1  &ht RCTRL k2  &ht RALT k3  &ht RSHFT k4

#define ALPHA 0
#define NAV 1
#define NUM 2
#define SYM 3
#define MEDIA 4
#define FUN 5

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <180>;
            quick-tap-ms = <150>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
    keymap {
        compatible = "zmk,keymap";
        alpha {
            display-name = "alpha";
        bindings = <
&kp Q      &kp W      &kp E         &kp R         &kp T   &kp Y       &kp U        &kp I       &kp O      &kp P
&mt LCMD A &mt LALT S &mt LCTRL D   &mt LSFT F    &kp G   &kp H       &mt RSFT J   &mt RCTRL K &mt RALT L &mt RCMD SQT
&kp Z      &kp X      &kp C         &kp V         &kp B   &kp N       &kp M        &kp COMMA   &kp DOT    &kp FSLH
                      &lt MEDIA ESC &lt NAV SPACE &kp TAB &lt SYM RET &lt NUM BSPC &lt FUN DEL
        >;
    };
    nav {
        display-name = "nav";
        bindings = <
&trans &trans &trans &trans &trans &kp K_REDO &kp K_PASTE &kp K_COPY &kp K_CUT &kp K_UNDO
&trans &trans &trans &trans &trans &kp LEFT   &kp DOWN    &kp UP     &kp RIGHT &caps_word
&trans &trans &trans &trans &trans &kp HOME   &kp PG_DN   &kp PG_UP  &kp END   &kp INS
              &trans &trans &trans &trans     &trans      &trans
        >;
    };
    num {
        display-name = "num";
        bindings = <
&kp LBKT  &kp N7 &kp N8  &kp N9 &kp RBKT  &trans &trans &trans &trans &trans
&kp SEMI  &kp N4 &kp N5  &kp N6 &kp EQUAL &trans &trans &trans &trans &trans
&kp GRAVE &kp N1 &kp N2  &kp N3 &kp BSLH  &trans &trans &trans &trans &trans
                 &kp DOT &kp N0 &kp MINUS &trans &trans &trans
        >;
    };
    sym {
        display-name = "sym";
        bindings = <
&kp LBRC  &kp AMPS &kp STAR  &kp LPAR  &kp RBRC  &trans &trans &trans &trans &trans
&kp COLON &kp DLLR &kp PRCNT &kp CARET &kp PLUS  &trans &trans &trans &trans &trans
&kp TILDE &kp EXCL &kp AT    &kp HASH  &kp PIPE  &trans &trans &trans &trans &trans
                   &kp LPAR  &kp RPAR  &kp UNDER &trans &trans &trans
        >;
    };
    media {
        display-name = "media";
         bindings = <
&trans &trans &trans &trans &trans &trans     &trans       &trans       &trans     &trans
&trans &trans &trans &trans &trans &kp C_PREV &kp C_VOL_DN &kp C_VOL_UP &kp C_NEXT &trans
&trans &trans &trans &trans &trans &trans     &trans       &trans       &trans     &trans
              &trans &trans &trans &trans &trans &trans
        >;
    };
    fun {
        display-name = "fun";
        bindings = <
&kp F12 &kp F7 &kp F8 &kp F9 &kp PSCRN       &trans &trans &trans &trans &trans
&kp F11 &kp F4 &kp F5 &kp F6 &kp SLCK        &trans &trans &trans &trans &trans
&kp F10 &kp F1 &kp F2 &kp F3 &kp PAUSE_BREAK &trans &trans &trans &trans &trans
               &trans &trans &trans          &trans &trans &trans
        >;
    };
  };
};
